<main>

    <nav class="navbar">
        <div class="nav-container">

           
            <div class="logo">
                <a routerLink="/teacher/dashboard" style="height: 100%; display: flex; align-items: center;">
                    <img src="logotx.png" alt="UNI Portal Logo">
                </a>

            </div>
          
            <ul class="nav-links">
                <li><a routerLink="/teacher/profile">Profile</a></li>
                <li><a routerLink="/teacher/my-classes">My classes</a></li>
                <li><a routerLink="/teacher/schedule">Schedule</a></li>
            </ul>


            <button class="logout-btn" (click)="onLogout()">Logout</button>

        </div>
    </nav>

    <section class="main-content">
        <router-outlet></router-outlet>
    </section>


    <footer class="footer">
        <div class="footer-container">
            <p>&copy; 2026 UNI Portal. All rights reserved.</p>
            <div class="footer-links">
                <a routerLink="/teacher/privacy">Privacy Policy</a>
                <a routerLink="/teacher/contact">Contact</a>
            </div>
        </div>
    </footer>